.banner {
    background-image: url("../img/bg_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
    height: 30vh;
}

.banner__titulo {
    margin-top: 8vh;
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 40px;
    }
}

@media screen and (min-width: 1728px) {
    .banner {
        padding: 6em 0;
    }
}