.sobre {
    background-color: gray;
    height: 35em;
}

.img_sobre {
    width: 20em;
    height: 20em;
    margin-left: 2em;
    margin-top: 2em;
}

.h2_sobre {
    margin-top: 2em;
    margin-left: 2em;
}

.txt_sobre {
    margin-top: 0em;
    margin-left: 2em;
}

.tópicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.carrossel__titulo {
    width: 20em;
    height: 20em;
    margin-left: 2em;
}


@media screen and (min-width: 1024px) {
    .sobre {
        margin-top: -0.1em;
        height: 450px;
    }

    .img_sobre {
        width: 20em;
        height: 20em;
        margin-top: 2em;
        margin-left: 10em;
    }

    .h2_sobre {
        margin-top: -18em;
        margin-left: 35em;
    }

    .txt_sobre {
        margin-top: 2em;
        margin-left: 35em;
    }
}

@media screen and (min-width: 1728px) {
    .img_sobre {
        width: 20em;
        height: 20em;
        margin-left: 10em;
    }
}